extends layout

block content
  body
    div
    h1 Projet de séminaire WEB R
      ul
        li
          a(href='users') Users
        li
          a(href='characters') Characters
        li
          a(href='alliances') Alliances