extends layout
block content
		.container
			.box.col-lg-12
				h1 Les utilisateurs :
				script(type='text/javascript', src='../js/script.js').
					
				each user in users
					- var id = user.id
					.jumbotron.col-lg-12(onclick='goToUser("' + id + '")')
						h2= user.name
						h4 Email : #{user.email} 
						h4 Alliance : #{user.alliance_id}